.container {
  left: 6.25em;
}

.search {
  background-color: transparent;
  width: 16em;
}

.search::placeholder {
  color: gray;
}

.search-result {
  position: absolute;
  max-height: 15em;
}

.title:hover {
  text-decoration: underline;
}
