<div class="container mt-2 me-5 pe-5">
  <button class="btn my-2 my-sm-0" type="button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="#cd908b"
      class="bi bi-search"
      viewBox="0 0 16 16"
    >
      <path
        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
      />
    </svg>
  </button>
  <form class="form-inline d-inline-flex input-group-sm">
    <input
      class="form-control border-0 search"
      type="search"
      placeholder="Search title/author/genre"
      aria-label="Search"
      (input)="onInputChange($event)"
    />
  </form>
</div>

<div *ngIf="searchResults$ | async as results">
  <div
    *ngIf="results.length > 0"
    class="search-result bg-white border border-black rounded overflow-y-scroll"
  >
    <div
      *ngFor="let comic of results"
      class="ms-3 mt-3 me-3"
      (click)="navigateToDetails(comic.Id)"
    >
      <h5
        class="title text-black text-sm"
        (click)="navigateToDetails(comic.Id)"
      >
        {{ comic.Title }}
      </h5>
      <p class="text-black text-sm">{{ comic.AuthorName }}</p>
    </div>
  </div>
</div>
