<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-1">
      <app-side-bar></app-side-bar>
    </div>

    <!-- Main Content -->
    <div class="col-11">
      <!-- Top Bar -->
      <div class="row">
        <div
          class="d-flex align-items-center justify-content-between mt-2 w-100"
        >
          <!-- Centered Search Bar -->
          <div class="d-flex justify-content-center flex-grow-1">
            <app-search-bar></app-search-bar>
          </div>
          <!-- Avatar aligned to the far right -->
          <app-avatar [currentUser]="currentUser"></app-avatar>
        </div>
      </div>

      <!-- Discussions Section -->
      <div class="row mt-5">
        <div class="col-12 discussion-cont overflow-y-scroll">
          <!-- Check if there are discussions -->
          <ng-container
            *ngIf="discussions && discussions?.length > 0; else emptyState"
          >
            <div *ngFor="let discussion of discussions" class="mb-3">
              <p-fieldset
                styleClass="discussion-tab"
                (click)="navigateToDetails(discussion?.Id)"
              >
                <ng-template #header>
                  <div class="d-flex gap-2">
                    <p-avatar [image]="discussion.Avatar" shape="circle" />
                    <span class="font-bold text-black fs-5">
                      {{ discussion.Username }}
                    </span>
                    <span class="font-bold text-black fs-6 ms-2 mt-1">
                      {{ discussion.DateCreated }}
                    </span>
                  </div>
                </ng-template>
                <div>
                  <div class="d-flex justify-content-between">
                    <h5 class="text-black fs-5 ms-3">{{ discussion.Title }}</h5>
                    <p class="text-black fs-5">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        fill="black"
                        class="bi bi-chat-square-text-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"
                        />
                      </svg>
                      {{ discussion.ResponseCount }}
                    </p>
                  </div>
                </div>
              </p-fieldset>
            </div>
          </ng-container>

          <!-- Empty State -->
          <ng-template #emptyState>
            <p class="text-center text-muted mt-5">No discussions yet.</p>
          </ng-template>
        </div>
      </div>

      <!-- Paginator -->
      <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center">
          <p-paginator
            [rows]="10"
            [totalRecords]="discussions?.length"
            (onPageChange)="onPageChange($event)"
          ></p-paginator>
        </div>
      </div>

      <!-- Add New Form -->
      <div class="row mt-1">
        <div class="col-6">
          <app-create-form [currentUser]="currentUser"></app-create-form>
        </div>
      </div>
    </div>
  </div>
</div>
