:host ::ng-deep .p-fieldset {
  background: white !important;
  height: 7em;
}

:host ::ng-deep .p-fieldset-legend {
  background: white !important;
}

:host ::ng-deep .p-paginator-page-selected {
  background: #cd908b !important;
}

:host ::ng-deep .p-paginator {
  border-radius: 3rem;
}

.discussion-cont {
  height: 80vh;
}

@media (max-width: 767px) {
  .discussion-cont {
    padding-bottom: 5em;
  }
}
