<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-1">
      <app-side-bar></app-side-bar>
    </div>

    <!-- Main Content -->
    <div class="col-12 col-md-11">
      <!-- Top Bar -->
      <div class="row">
        <div
          class="d-flex align-items-center justify-content-start justify-content-md-end mt-2 w-100"
        >
          <!-- Avatar aligned to the far right -->
          <div>
            <app-avatar [currentUser]="currentUser"></app-avatar>
          </div>
        </div>
      </div>

      <!-- Add New Form -->
      <div class="row mt-4">
        <div class="col-12 col-md-6">
          <button
            class="add-btn btn btn-dark text-white rounded-pill p-2 px-3"
            title="Add new discussion"
            (click)="openModal()"
          >
            Start a new discussion ＋
          </button>
        </div>
      </div>

      <!-- Discussions Section -->
      <div class="row mt-3">
        <div class="col-12">
          <!-- Check if there are discussions -->
          <div class="discussion-cont overflow-y-scroll mb-5">
            <ng-container
              *ngIf="discussions && discussions?.length > 0; else emptyState"
            >
              <div *ngFor="let discussion of visibleDiscussions" class="mb-3">
                <p-fieldset
                  styleClass="discussion-tab"
                  (click)="navigateToDetails(discussion?.Id)"
                >
                  <ng-template #header>
                    <div class="d-flex gap-2">
                      <p-avatar [image]="discussion.Avatar" shape="circle" />
                      <span class="fw-bold text-black text-xsm">
                        {{ discussion.Username }}
                      </span>
                      <span class="text-black text-xxsm ms-2 mt-1">
                        {{ discussion.DateCreated }}
                      </span>
                    </div>
                  </ng-template>
                  <div>
                    <div class="d-flex justify-content-between">
                      <h5 class="text-black text-md ms-3 w-75 text-truncate">
                        {{ discussion.Title }}
                      </h5>
                      <p class="text-black text-md">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="14"
                          height="14"
                          fill="black"
                          class="bi bi-chat-square-text-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"
                          />
                        </svg>
                        {{ discussion.ResponseCount }}
                      </p>
                    </div>
                  </div>
                </p-fieldset>
              </div>
            </ng-container>
            <!-- Paginator -->

            <div class="d-flex justify-content-start">
              <app-paginator
                [first]="first"
                [rows]="rows"
                [data]="discussions"
                (visibleContentChange)="updateVisibleDiscussions($event)"
              ></app-paginator>
            </div>
          </div>

          <!-- Empty State -->
          <ng-template #emptyState>
            <p class="text-center text-muted mt-5">No discussions yet.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
