<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-1">
      <app-side-bar></app-side-bar>
    </div>

    <!-- Main Content -->
    <div class="col-11">
      <!-- Top Bar -->
      <div class="row">
        <div
          class="d-flex align-items-center justify-content-between mt-2 w-100"
        >
          <!-- Centered Search Bar -->
          <div class="d-flex justify-content-center flex-grow-1">
            <app-search-bar></app-search-bar>
          </div>
          <!-- Avatar aligned to the far right -->
          <p-avatar
            class="align-self-end"
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
            size="large"
            shape="circle"
          ></p-avatar>
        </div>
      </div>

      <!-- Discussions Section -->
      <div class="row mt-5">
        <div class="col-12 discussion-cont overflow-y-scroll">
          <!-- Check if there are discussions -->
          <ng-container
            *ngIf="discussions && discussions?.length > 0; else emptyState"
          >
            <div *ngFor="let discussion of discussions" class="mb-3">
              <p-fieldset
                styleClass="discussion-tab"
                (click)="navigateToDetails(discussion?.Id)"
              >
                <ng-template #header>
                  <div class="d-flex gap-2">
                    <p-avatar
                      image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                      shape="circle"
                    />
                    <span class="font-bold text-black fs-5">
                      {{ discussion.Username }}
                    </span>
                  </div>
                </ng-template>
                <div>
                  <div class="d-flex justify-content-between">
                    <h5 class="text-black fs-5 ms-3">{{ discussion.Title }}</h5>
                    <p class="text-black fs-5">
                      Responses: {{ discussion.ResponseCount }}
                    </p>
                  </div>
                  <p class="text-black fs-5 ms-3">
                    {{ discussion.DateCreated }}
                  </p>
                </div>
              </p-fieldset>
            </div>
          </ng-container>

          <!-- Empty State -->
          <ng-template #emptyState>
            <p class="text-center text-muted mt-5">No discussions yet.</p>
          </ng-template>
        </div>
      </div>

      <!-- Paginator -->
      <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center">
          <p-paginator
            [rows]="10"
            [totalRecords]="discussions?.length"
            [rowsPerPageOptions]="[5, 10, 20]"
            (onPageChange)="onPageChange($event)"
          ></p-paginator>
        </div>
      </div>

      <!-- Add New Form -->
      <div class="row mt-1">
        <div class="col-6">
          <app-create-form></app-create-form>
        </div>
      </div>
    </div>
  </div>
</div>
