<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-1">
      <app-side-bar></app-side-bar>
    </div>

    <!-- Main Content -->
    <div class="col-11">
      <!-- Top Bar -->
      <div class="row">
        <div
          class="d-flex align-items-center justify-content-between mt-2 w-100"
        >
          <!-- Centered search bar -->
          <div class="d-flex justify-content-center flex-grow-1">
            <app-search-bar></app-search-bar>
          </div>
          <!-- Avatar aligned to the far right -->
          <app-avatar [currentUser]="currentUser"></app-avatar>
        </div>
      </div>

      <!-- Discussions Section -->
      <div class="row mt-5">
        <div class="col-12">
          <!-- Check if there are discussions -->
          <div class="mb-3">
            <p-fieldset styleClass="discussion-tab">
              <ng-template #header>
                <div
                  class="d-flex justify-content-between align-items-center gap-2"
                >
                  <div class="d-flex align-items-center">
                    <p-avatar [image]="discussion.Avatar" shape="circle" />
                    <span class="text-black fs-4 ms-3">
                      {{ discussion.Username }}
                    </span>
                    <span class="text-black fs-6 ms-4 mt-1">
                      {{ discussion.DateCreated }}
                    </span>
                  </div>
                  <div
                    *ngIf="currentUser.Username === discussion.Username"
                    class="d-flex"
                  >
                    <div class="">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        fill="black"
                        class="bi bi-pen-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"
                        />
                      </svg>
                    </div>
                    <div class="ms-3" (click)="deleteDiscussion()">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="18"
                        height="18"
                        fill="black"
                        class="bi bi-trash3-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </ng-template>
              <div>
                <div class="d-flex justify-content-between">
                  <h5 class="text-black fs-4 mt-3 ms-3 fw-bold">
                    {{ discussion.Title }}
                  </h5>
                </div>
                <p class="text-black fs-5 ms-3 mt-3">
                  {{ discussion.Content }}
                </p>
              </div>
            </p-fieldset>
          </div>

          <div class="row">
            <div class="col-12 comment-cont overflow-y-scroll">
              <ng-container
                *ngIf="comments && comments.length > 0; else emptyState"
              >
                <div *ngFor="let comment of comments" class="mb-3 ms-3 me-3">
                  <p-fieldset styleClass="comment-tab">
                    <ng-template #header>
                      <div
                        class="d-flex justify-content-between align-items-center gap-2"
                      >
                        <div class="d-flex align-items-center">
                          <p-avatar [image]="comment.Avatar" shape="circle" />
                          <span class="text-black fs-5 ms-3">
                            {{ comment.Username }}
                          </span>
                          <span class="text-black fs-6 ms-4 mt-1">
                            {{ comment.DateCreated }}
                          </span>
                        </div>
                        <div
                          *ngIf="currentUser.Username === comment.Username"
                          class="d-flex"
                        >
                          <div class="">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="18"
                              height="18"
                              fill="black"
                              class="bi bi-pen-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"
                              />
                            </svg>
                          </div>
                          <div class="ms-3" (click)="deleteComment(comment.Id)">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="18"
                              height="18"
                              fill="black"
                              class="bi bi-trash3-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"
                              />
                            </svg>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <div>
                      <div class="d-flex justify-content-between">
                        <h5 class="text-black fs-5 ms-3">
                          {{ comment.CommentText }}
                        </h5>
                      </div>
                    </div>
                  </p-fieldset>
                </div>
              </ng-container>

              <!-- Empty State -->
              <ng-template #emptyState>
                <p class="text-center text-muted mt-5">No comments yet.</p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <form
            class="d-flex align-items-center"
            [formGroup]="commentForm"
            (ngSubmit)="onSubmit()"
          >
            <p-avatar
              class="align-self-start me-4 mt-1"
              [image]="currentUser.Avatar"
              size="large"
              shape="circle"
            ></p-avatar>
            <textarea
              class="form-control me-3"
              id="commentText"
              formControlName="commentText"
              placeholder="Reply to this discussion"
              rows="3"
            ></textarea>

            <button type="submit" class="me-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="#cd908b"
                class="bi bi-send-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"
                />
              </svg>
            </button>
          </form>
          <div
            class="text-danger ms-5 mt-2 ps-4"
            *ngIf="
              commentForm.get('commentText')?.touched &&
              commentForm.get('commentText')?.hasError('required')
            "
          >
            Comment is required.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
