#sideBar {
  height: 90vh;
}

.nav-link {
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.nav-link:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
