#sideBar {
    height: 90vh;
}

.logoText {
    display: flex;
    align-items: center;
    margin: 10px;
    color: wheat;
}

.logoText div {
    margin: 0;
    font-size: 22px;
    color: #000;
}

.logo {
    background: #ffcac9;
    color: wheat;
    width: 68px;
    text-align: center;
}

.nav-link {
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.nav-link:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
