.custom-pagination .page-item .page-link {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.custom-pagination .page-item.active .page-link {
  background-color: #cd908b;
  color: white;
  border-color: black;
}

.custom-pagination .page-item .page-link:hover {
  background-color: #cd908b;
  color: white;
}

.custom-pagination .page-item.disabled .page-link {
  color: gray;
  background-color: white;
  border-color: black;
  opacity: 0.5;
  cursor: not-allowed;
}
