.main-content {
  overflow: auto;
  height: 100vh;
}

@media (max-width: 767px) {
  .main-content {
    margin-bottom: 60px; /* Leave space for the bottom nav */
  }
}

.book-card {
  max-width: 190px;
}

.btn:hover {
  text-decoration: underline;
}

.discussion-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
