<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-1">
      <app-side-bar></app-side-bar>
    </div>

    <!-- Main Content -->
    <div class="col-6">
      <div class="d-flex flex-column mt-5 justify-content-center">
        <div class="row">
          <div class="col-1">
            <app-search-bar></app-search-bar>
          </div>
        </div>

        <div class="row align-items-center mt-5">
          <div class="col-6">
            <h1 class="welcome-text text-black">Happy Reading,</h1>
            <h1 class="text-black">Name</h1>
            <p class="subtext text-black mt-4">
              Discover your next favorite book and share your thoughts with
              fellow readers
            </p>
            <button
              type="button"
              class="btn btn-dark text-white rounded-pill p-2 px-3 mt-1 me-auto"
            >
              Explore ↗
            </button>
          </div>
        </div>

        <!-- Popular Books -->
        <div class="row mt-5 mb-5">
          <div class="col-12">
            <h5 class="welcome-text text-black">Popular Now</h5>
            <div #flickityContainer class="js-flickity mb-3">
              <div
                *ngFor="let book of books"
                class="book-cell bg-transparent p-3"
                (click)="navigateToDetails(book.Id)"
              >
                <div class="flex-shrink-0">
                  <img
                    [src]="book.BookImg"
                    alt="Book Image"
                    class="book-photo flex-shrink-0"
                  />
                </div>
                <div class="mt-4 overflow-hidden">
                  <p
                    class="text-black fw-semi-bold text-truncate text-nowrap overflow-hidden"
                  >
                    {{ book.Title }}
                  </p>
                  <p
                    class="text-black text-truncate text-nowrap overflow-hidden"
                  >
                    by {{ book.AuthorName }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Add New Form -->
        <div class="row mt-5">
          <div class="col-12">
            <app-add-new-form></app-add-new-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
