<app-side-bar></app-side-bar>
<div
  id="container"
  class="d-sm-flex h-75 flex-column col-11 col-sm-9 col-md-9 col-lg-9 align-items-center mt-0 mt-sm-4"
>
  <div class="w-100">
    <div #flickityContainer class="js-flickity">
      <div
        *ngFor="let book of books"
        class="book-cell bg-transparent d-flex p-3"
      >
        <div class="flex-shrink-0">
          <img [src]="book.imageUrl" alt="" class="book-photo flex-shrink-0" />
        </div>
        <div class="p-3 overflow-hidden">
          <div
            class="text-white fs-5 fw-bold text-truncate text-nowrap overflow-hidden"
          >
            {{ book.title }}
          </div>
          <div class="mt-2 fs-6 text-truncate text-nowrap overflow-hidden">
            by {{ book.author }}
          </div>
          <app-star-rating></app-star-rating>
          <div class="book-sum h-25 mt-3 overflow-hidden">{{ book.summary }}</div>
          <button
            class="buttons btn btn-sm p-2 text-white rounded-1 text-nowrap mt-3"
            type="submit"
          >
            Leave a review
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid d-flex row mt-2">
    <div class="d-flex flex-column w-25 mt-4 allow-scroll">
      <div class="fw-bold fs-6">Top Rated Authors</div>
      <div *ngFor="let author of authors">
        <div class="p-2">
          <div class="text-small">{{ author.name }}</div>
          <div class="text-small">Books: {{ author.totalBooksPublished }}</div>
          <div class="text-small">
            Average Rating: {{ author.averageRating }}
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex w-75 mt-4">
      <div class="all-books">
        <div
          class="main-menu d-flex nowrap pb-3 border-bottom sticky-top bg-transparent"
        >
          <div class="fw-bold fs-6">Popular Books</div>
          <div class="book-types ms-auto">
            <a
              href="#"
              class="text-white text-decoration-none fs-6 book-type active"
            >
              All Genres</a
            >
            <a href="#" class="text-white text-decoration-none fs-6 book-type">
              Business</a
            >
            <a href="#" class="text-white text-decoration-none fs-6 book-type">
              Science</a
            >
            <a href="#" class="text-white text-decoration-none fs-6 book-type">
              Fiction</a
            >
            <a href="#" class="text-white text-decoration-none fs-6 book-type">
              Philosophy</a
            >
            <a href="#" class="text-white text-decoration-none fs-6 book-type">
              Biography</a
            >
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 gx-2 gy-3 pt-4 allow-scroll">
          <div *ngFor="let popular of popularBooks" class="col h-75">
            <div
              class="bg-white shadow-sm rounded d-flex flex-column cursor-pointer py-3 ps-3 pe-0 mt-2 h-75"
            >
              <div class="content-wrapper d-flex position-relative">
                <img [src]="popular.imageUrl" class="book-card-img" />
                <div class="position-relative overflow-hidden text-dark p-2">
                  <div
                    class="text-truncate text-nowrap overflow-hidden text-dark fw-bolder"
                  >
                    {{ popular.title }}
                  </div>
                  <div
                    class="book-by text-truncate text-nowrap overflow-hidden"
                  >
                    by {{ popular.author }}
                  </div>
                  <app-star-rating></app-star-rating>
                  <div class="avg-reviews mt-2 text-dark overflow-hidden">
                    {{ popular.genre }}
                  </div>
                  <button
                    class="btn btn-link text-dark p-0 mt-1 me-auto review-button"
                  >
                    Leave a Review
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
