@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #fff;
  background: transparent;
  border: none;
}

body {
  height: 100vh;
  background: radial-gradient(
    circle,
    rgba(83, 83, 83, 1) 54%,
    rgba(65, 65, 65, 1) 100%
  );
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif !important;
  font-style: normal;
  font-weight: normal;
  overflow: hidden;
}

.logoText {
  display: flex;
  align-items: center;
  margin: 10px;
  color: wheat;
}

.logoText div {
  margin: 0;
  font-size: 22px;
  color: whitesmoke;
  font-weight: bold;
}

.logo {
  background: black;
  color: wheat;
  width: 68px;
  text-align: center;
}

.flickity-prev-next-button .arrow {
  fill: #d6d6d6;
}

.flickity-prev-next-button svg {
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
}

.flickity-prev-next-button {
  &.previous {
    left: 15px;
  }
  &.next {
    right: 15px;
  }
}

.flickity-viewport {
  overflow: visible;
}

.flickity-page-dots {
  display: none !important;
}

.buttons {
  border: 1px solid #3900a6;
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.03);
  }
}

.text-small {
  font-size: 15px;
}
