@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #fff;
  background: transparent;
  border: none;
}

html,
body {
  height: 100vh;
  background: #f2f3d9;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0.1em;
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0.1em;
}

::-webkit-scrollbar-thumb:vertical {
  height: 3em;
}

.book-photo {
  width: 120px;
  height: 180px;
  border-radius: 2px;
  box-shadow: 1px 0px #b9b9b9, 1px 2px 1px #b9b9b9, 2px 1px 1px #b9b9b9,
    1px 2px 1px #b9b9b9, 3px 2px 1px #b9b9b9, 2px 3px 1px #b9b9b9,
    4px 3px 1px #b9b9b9, -7px 7px 4px rgba(0, 0, 0, 0.3),
    -15px 15px 20px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.03);
  }
}

.text-sm {
  font-size: 0.9em;
}

.text-md {
  font-size: 1em;
}

.text-lg {
  font-size: 2em;
}

.p-carousel-item-list {
  width: 1000px !important;
}

.p-tablist-tab-list,
.p-tabpanels {
  background: transparent !important;
}

.p-tab-active,
.p-button-text {
  color: #cd908b !important;
}

.p-tablist-active-bar,
.p-carousel-indicator-active .p-carousel-indicator-button {
  background: #cd908b !important;
}

.p-tablist-tab-list {
  width: 500px !important;
}

.p-tab {
  width: 250px !important;
}

.p-tabpanels {
  width: 530px !important;
}

input::placeholder {
  color: gray;
  font-size: 14px;
}

.modal-content {
  background-color: transparent;
  border: none;
}

.text-danger {
  font-size: 0.9em;
}
