<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-1">
      <app-side-bar></app-side-bar>
    </div>

    <!-- Main Content -->
    <div class="col-11">
      <!-- Top Bar -->
      <div class="row">
        <div
          class="d-flex align-items-center justify-content-between mt-2 w-100"
        >
          <!-- Centered search bar -->
          <div class="d-flex justify-content-center flex-grow-1">
            <app-search-bar></app-search-bar>
          </div>
          <!-- Avatar aligned to the far right -->
          <app-avatar [currentUser]="currentUser"></app-avatar>
        </div>
      </div>

      <!-- Comics Section -->
      <div class="row mt-3">
        <!-- Browse Comics -->
        <div class="col-11">
          <h2 class="text-black ms-4 mb-5">Find your next comic</h2>
          <div class="row comics-container mb-5 ms-5">
            <div
              *ngFor="let comic of visibleComics"
              class="col-3 d-flex flex-column align-items-center"
            >
              <div
                class="d-flex bg-white border border-dark align-items-start w-100"
              >
                <div
                  class="book-cell bg-transparent p-3"
                  (click)="navigateToDetails(comic.Id)"
                >
                  <img [src]="comic?.Cover" class="book-photo" />
                </div>
                <div class="mt-4 overflow-hidden">
                  <p class="text-black fw-semi-bold text-truncate text-md mb-1">
                    {{ comic?.Title }}
                  </p>
                  <p class="text-muted fw-semi-bold text-truncate text-sm mb-1">
                    {{ comic.AuthorName }}
                  </p>
                  <div class="d-flex">
                    <app-star-rating
                      [readOnly]="true"
                      [rating]="comic.AverageRating"
                    ></app-star-rating>
                    <p class="text-muted text-sm mt-2 ms-1">
                      ({{ comic.TotalReviews }})
                    </p>
                  </div>
                  <p class="text-muted fw-semi-bold text-truncate text-sm">
                    {{ comic.YearPublished }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 d-flex justify-content-center">
            <p-paginator
              [rows]="rows"
              [totalRecords]="comics.length"
              (onPageChange)="onPageChange($event)"
            ></p-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
