@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

#fullBg {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("https://64.media.tumblr.com/tumblr_mehhdt3YxH1qfj2dqo1_640.jpg")
    no-repeat center center fixed;
  background-size: cover;
}

#fullBg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: -1;
}

.logo {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  height: auto;
}

.signup-btn {
  position: absolute;
  top: 1em;
  right: 0.5em;
  width: 7em;
}

#email,
#password {
  z-index: 3;
}

p {
  width: 40em;
}

.form-signin {
  margin: 20em auto 0.2em;
}

.heading {
  font-size: 5em;
  font-family: "Alfa Slab One", sans-serif;
  letter-spacing: 1px;
}

input,
.btn-login {
  width: 24em;
}

.bg-danger {
  width: 30em;
}

@media (max-width: 576px) {
  #fullBg {
    background-size: cover;
  }

  .form-signin {
    max-width: 90%;
    margin: 9em auto 0.2em;
  }

  .heading {
    font-size: 3em;
  }

  p {
    width: 25em;
  }

  input,
  .btn,
  .bg-danger {
    width: 100%;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer-left a,
.footer-right a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.footer-left a:hover,
.footer-right a:hover {
  text-decoration: underline;
}
