<div class="logoText p-2">
  <div class="">Book</div>
  <div class="logo">Lovers</div>
</div>

<div
  class="cont overflow-hidden position-relative"
  [ngClass]="{ 's--signup': isSignUpActive }"
>
  <form [formGroup]="loginForm" (ngSubmit)="onLogIn()">
    <div class="form position-relative h-100 pt-5 mt-5 sign-in">
      <h2>Welcome Back</h2>
      <label for="email">
        <span>Email</span>
        <input id="email" formControlName="email" type="email" />
      </label>
      <div
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
      >
        <small
          class="error d-block text-center text-danger mt-1"
          *ngIf="loginForm.get('email')?.errors?.['required']"
          >Email is required</small
        >
        <small
          class="error d-block text-center text-danger mt-1"
          *ngIf="loginForm.get('email')?.errors?.['email']"
          >Invalid email format</small
        >
      </div>
      <label for="password">
        <span>Password</span>
        <input id="password" formControlName="password" type="password" />
      </label>
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
      >
        <small
          class="error d-block text-center text-danger mt-1"
          *ngIf="loginForm.get('password')?.errors?.['required']"
          >Password is required</small
        >
        <small
          class="error d-block text-center text-danger mt-1"
          *ngIf="loginForm.get('password')?.errors?.['minlength']"
          >Password must be at least 8 characters</small
        >
      </div>
      <p class="forgot-pass">Forgot password?</p>
      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="btn d-block mt-5 rounded cursor-pointer bg-transparent"
      >
        Sign In
      </button>
    </div>
  </form>
  <div class="sub-cont position-absolute overflow-hidden">
    <div class="img h-100 position-absolute overflow-hidden">
      <div class="img__text m--up mt-4 w-100 px-2 text-center text-white">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in mt-2 w-100 px-2 text-center text-white">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div
        class="img__btn overflow-hidden position-relative text-white bg-transparent text-uppercase cursor-pointer"
        (click)="toggleSignup()"
      >
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form sign-up h-100 pt-5 mt-2">
        <h2>Let's get you started</h2>
        <label for="userName">
          <span>User Name</span>
          <input
            id="userName"
            formControlName="userName"
            clas="border-0 bg-transparent"
            type="text"
          />
        </label>
        <div
          *ngIf="
            signUpForm.get('userName')?.invalid &&
            signUpForm.get('userName')?.touched
          "
        >
          <small
            class="error d-block text-center text-danger mt-1"
            *ngIf="signUpForm.get('userName')?.errors?.['required']"
            >User name is required</small
          >
          <small
            class="error d-block text-center text-danger mt-1"
            *ngIf="signUpForm.get('userName')?.errors?.['maxlength']"
            >User name length shouldn't exceed 15 characters</small
          >
          <small
            class="error d-block text-center text-danger mt-1"
            *ngIf="signUpForm.get('userName')?.errors?.['pattern']"
            >Invalid characters</small
          >
        </div>
        <label for="regEmail">
          <span>Email</span>
          <input
            id="regEmail"
            formControlName="regEmail"
            clas="border-0 bg-transparent"
            type="email"
          />
        </label>
        <div
          *ngIf="
            signUpForm.get('regEmail')?.invalid &&
            signUpForm.get('regEmail')?.touched
          "
        >
          <small
            class="error d-block text-center text-danger mt-1"
            *ngIf="signUpForm.get('regEmail')?.errors?.['required']"
            >Email is required</small
          >
          <small
            class="error d-block text-center text-danger mt-1"
            *ngIf="signUpForm.get('regEmail')?.errors?.['email']"
            >Invalid email format</small
          >
        </div>
        <label for="regPassword">
          <span>Password</span>
          <input
            id="regPassword"
            formControlName="regPassword"
            clas="border-0 bg-transparent"
            type="password"
          />
        </label>
        <div
          *ngIf="
            signUpForm.get('regPassword')?.invalid &&
            signUpForm.get('regPassword')?.touched
          "
        >
          <small
            class="error d-block text-center text-danger mt-1"
            *ngIf="signUpForm.get('regPassword')?.errors?.['required']"
            >Password is required</small
          >
          <small
            class="error d-block text-center text-danger mt-1"
            *ngIf="signUpForm.get('regPassword')?.errors?.['minlength']"
            >Password must be at least 8 characters</small
          >
        </div>
        <button
          type="submit"
          [disabled]="signUpForm.invalid"
          class="btn d-block mt-5 rounded cursor-pointer bg-transparent"
        >
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>
