<div class="modal-header border-0">
  <h5 class="modal-title text-dark ms-4">Create New Discussion</h5>
  <button
    type="button"
    class="btn-close"
    (click)="closeModal()"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body">
  <form
    [formGroup]="discussionForm"
    (ngSubmit)="onSubmit()"
    class="d-flex flex-column"
  >
    <div class="mb-3 d-flex">
      <label for="title" class="form-label text-dark ms-5 mt-4">Title</label>
      <input
        type="text"
        class="form-control w-50 bg-transparent border-0 border-bottom ms-5 mt-2"
        id="title"
        formControlName="title"
        maxlength="200"
      />
    </div>
    <div
      class="text-danger ms-5"
      *ngIf="
        discussionForm.get('title')?.touched &&
        discussionForm.get('title')?.hasError('required')
      "
    >
      Title is required.
    </div>

    <div class="mb-3 d-flex">
      <label for="content" class="form-label text-dark ms-5 mt-4"
        >Content</label
      >
      <textarea
        class="form-control w-75 h-100 bg-transparent border-0 border-bottom ms-3 me-3 mt-2"
        id="content"
        formControlName="content"
        rows="3"
        maxlength="1000"
      ></textarea>
    </div>
    <div
      class="text-danger ms-5"
      *ngIf="
        discussionForm.get('content')?.touched &&
        discussionForm.get('content')?.hasError('required')
      "
    >
      Content is required.
    </div>
    <button
      class="btn btn-dark align-self-end text-white rounded-pill p-2 px-5 me-4 mt-2"
      type="submit"
    >
      Publish ＋
    </button>
  </form>
</div>
